/*						stylesheet						*/

body { font-family: sans-serif; line-height: 1.5; background: #f3f3f3; 
	align-items: center; margin: 0;}

#app { min-height: 400px; padding: 20px; text-align: center;  background: #FDFDFD;}
#app, #header { width: 500px; border: 1px solid #9d9d9d; margin: 10px auto;}

#header { height: 100px; padding: 20px; background: #FDFDFD;}

label, input, button { width: 100%;}
label, input { display: block; }
input, button { padding: 15px; }

label {  margin-top: 10px; margin-bottom: 5px; text-align: left; color: #555; font-weight: bold;}
input {  margin-bottom: 15px; box-sizing: border-box; border: 1px solid #ddd; border-radius: 5px; width: 250px;}
button { margin-top: 15px; margin-bottom: 15px; border: none; color: white; cursor: pointer; 
	background-color: #4CAF50; font-size: 16px; width: 150px;}

/* HTML: <div class="loader"></div> */
.loader {   width: 50px; margin: 0 auto; aspect-ratio: 1; border-radius: 50%; border: 8px solid; border-color: #000 #0000; animation: l1 1s infinite;}
@keyframes l1 {to{transform: rotate(.5turn)}}


#app, #header, .login-div  { border-radius: 10px; }

.overlay, .login-div {display: none; position: fixed; }

.overlay{ top: 0; left: 0; width: 100%; height: 100%; background-color: rgba( 155, 155, 155, 0.5); z-index: 1000; 
	transition: opacity 0.3s ease, visibility 0.3s ease;

}
.overlay.active { display: block; backdrop-filter: blur(2px)}

.login-div { top: 50%; left: 50%; transform: translate(-50%, -300%); width: 300px; padding: 20px; background-color: white; z-index: 1001;}
.login-div.active { display: block;}

.vertical-menu { width: 125px; display: none; position: absolute; z-index: 1002; border: 1px solid #999;}
.vertical-menu a { background-color: #eee; color: black; display: block; padding: 8px 16px; text-decoration: none; font-size: 12px;}
.vertical-menu a:hover { background-color: #ccc;}
.vertical-menu a.active { background-color: #04AA6D; color: white;}